<div class="row">
  <div class="col-md-2">
    <h4>Chrome</h4>
    <img src="/img/chrome.jpg">
    <br>
    <a href="install-all/chrome">install</a> |
    <a href="install-all/chrome">remove</a>
  </div>

  <div class="col-md-2">
    <h4>Chrome</h4>
    <img src="/img/chrome.jpg">
    <br>
    <a href="install-all/chrome">install</a> |
    <a href="install-all/chrome">remove</a>
  </div>












</div>