<div class="row">
  <div class="col-md-2">
    <h4>Vim</h4>
    <img src="/img/vim.png">
    <br>
    <a href="install-all-func/vim">install</a> |
    <a href="remove-all-func/vim">remove</a>
  </div>













</div>